.env
data/
embedding_model/*
!embedding_model/.ignore
.DS_Store
front-end/src/assets/images/DALL·E 2023-11-19 20.42.10 - A friendly, sci-fi themed bot-doctor designed as a profile picture for the front end of a generative AI application. The bot features a sleek, futuris.png
